&__item{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1170px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0 0;

  & .item{

    @import "sidebar";


    &__wrap {
      position: relative;
      display: flex;
      width: 100%;
      max-width: 870px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
    &__header{
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    &__title{
      width: 66%;
      color: $dark_blue;
      font-family: "Futura Demi C";
      font-size: 26px;
      font-weight: 400;
      line-height: 30px;
    }
    &__links{
      position: relative;
      display: flex;
      width: auto;
      align-items: center;

      & .links{

        &__button{
          padding: 10px 25px;
          border-radius: 35px;
          border: 1px solid #e9e9e9;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #858585;
          font-family: "Futura Book C";
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none;
          transition: .2s;
          &:hover {
            color: $light_blue;
            border: 1px solid $light_blue;
            transition: .2s;
            & .links__print{
              fill: $light_blue;
              transition: .2s;
            }
          }
        }
        &__print{
          fill: #a8a8a8;
          margin-right: 8px;
          transition: .2s;
        }
        &__share{
          fill: #a8a8a8;
          position: relative;
          display: flex;
          background: none;
          padding: 10px;
          border-radius: 50%;
          border: 1px solid #e9e9e9;
          margin-left: 10px;
          transition: .2s;
          cursor: pointer;
          &:hover{
            fill: $light_blue;
            transition: .2s;
            border: 1px solid $light_blue;

          }
        }
      }
    }
    &__block{
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 35px;
    }
    &__img{
      position: relative;
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: center;
      & img{
        position: relative;
        display: flex;
        align-items: center;
        max-width: 100%;
        max-height: 270px;
        justify-content: center;
      }
    }
    &__character{
      position: relative;
      display: flex;
      width: 30%;
    }
    &__price{
      position: relative;
      display: flex;
      width: 30%;
      max-width: 270px;
      max-height: 270px;
      height: 100%;
      border: 1px dashed #d6d6d6;
      border-radius: 15px;
      align-items: center;
      justify-content: center;

      & .price{

        &__wrap{
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin: 150px auto;
        }
      }
    }
    &__desc{
      position: relative;
      display: flex;
      width: 100%;
      list-style: none;
      margin-top: 40px;

      & .desc{

        &__list{
          position: relative;
          display: flex;
          width: 100%;
          background-color: #f8f8f8;
          padding: 0;
        }

        &__point{
          position: relative;
          display: flex;
          color: $dark_blue;
          font-family: "Futura Demi C";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          cursor: pointer;
          padding: 15px 30px;
          &.active{
            background: white;
            border: 1px solid #e9e9e9;
            border-bottom: 0 none;
          }
        }
        &__deep{
          top: 100%;
          position: absolute;
          display: none;
          &.active{
            display: flex;
          }
        }
      }
    }
  }
}